{% extends 'base.html' %}

{% block title %}Авторизация{% endblock %}

{% block content %}

<!-- Форма для авторизации пользователей -->
<div class="d-flex align-items-center py-4">
    <div class="form-signin w-100 m-auto">
        <form method="post" novalidate>
            {% csrf_token %}
            <h1 class="h3 mb-3 fw-bolder text-center">Авторизация</h1>

            <!-- Общие ошибки формы -->
            {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                {{ error }}
                {% endfor %}
            </div>
            {% endif %}

            <!-- Обработка полей формы -->
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                {{ field }}
                {% if field.errors %}
                <div class="invalid-feedback d-block">
                    {% for error in field.errors %}
                    {{ error }}
                    {% endfor %}
                </div>
                {% endif %}
                <!-- Добавляем классы для полей с ошибками -->
                {% if field.errors %}
                <script>
                    document.getElementById("{{ field.id_for_label }}").classList.add("is-invalid");
                </script>
                {% endif %}
            </div>
            {% endfor %}

            <!-- Кнопка для входа -->
            <button class="btn btn-success rounded-pill px-4 d-grid gap-2 col-6 mx-auto" type="submit">Войти</button>
        </form>
    </div>
</div>

{% endblock %}
